*{
    margin: 0;
    padding: 0;
}

/*header area*/
.header-area{
    padding: 10px 0;
    
}
.header-area .menu-area{
   
  
}
.header-area .menu-area ul{
    list-style-type: none;
    display: flex;
    
    
    
}
.header-area .menu-area ul li{
    overflow: hidden;
    background-color:#0B3B5D;
    margin: 10px 20px;
    border-radius: 5px;
}
.header-area .menu-area ul li a{
    padding:10px 30px;
    display: block;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-family: Tahoma;
    font-weight: bold;
}
/*slider*/
.slider-area{
    margin-top: 20px;
}

/*message sections */
.message-area{
    margin-top:30px;
    background-color:#1A2033;
    color: #fff;
}
.section-header{
    text-align: center;
    padding: 30px 0;
    text-transform: capitalize;
    font-family: 'Lobster Two', cursive;
    margin-bottom: 30px;
   
}
.section-header h3{
     font-size: 45px;
      margin-top: 20px;
}
.msg-left{
margin-bottom: 50px;
}
.msg-left .image-area{
    margin: 0 auto;

}
.msg-left .image-area img{
    height: 250px;
    width: 250px;
    border-radius: 50%;
}
.msg-right{}
.msg-right p{
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    text-align: justify;
}
/*work aarea*/
.work-area{
    background-color: #98878F;
    color: #fff;
    padding-top: 30px;
  
}
.work-left{
    margin-bottom: 50px;
}

.work-area .work-left p{
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    text-align: justify;
    
}
.work-right{
    margin-bottom: 50px;
}
.work-right .work-img2{
   padding-top: 30px;
}
/*contact area*/
.contact-area{
    color: #fff;
    background: url(images/contact.jpg);
    background-repeat: no-repeat;
    background-size: cover;
        
}
.contact-overlay{
    background: rgba(45, 57, 80, 0.9);
    padding: 40px 0;
}
.contact-form input{
    background: transparent;
    border-radius: 0;
    margin-bottom: 10px;
    border:2px solid white;
}
.contact-form input:nth-child(3) {
    padding-bottom : 150px;
}
.contact-form input[type=submit] {
    width: 100%;
    padding: 10px 0;
    background: #F7CE41;
    border: 2px solid #FDDC3D;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Lato',sans-serif;
    font-weight: bold;
}